/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
/.idea/
/.vscode/
/.venv/
venv/
__pycache__/
build/
*.zip
localstack-data/
/.pytest_cache
/.aws-sam

# Environment variables
.env
.env.local
.env.production

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# AWS credentials
*.pem
credentials
